@import "responsive";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

nav {
  height: 80px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 45px 2px rgba(0, 0, 0, 0.35);
  position: relative;
  z-index: 2;

}

header {
  position: relative;
  min-height: 500px;
  background-image: linear-gradient(to bottom, #0cadf4, #0575e5);
  z-index: 1;
  overflow: hidden;

  font-size: 16px;

  @include sm {
    font-size: 20px;
  }

  @include md {
    font-size: 24px;
  }

  @include lg {
    font-size: 26px;
  }

  @include xl {
    font-size: 30px;
  }


  h1 {
    text-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    width: 80%;
    font-size: 3em;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding: 0;
    margin: 0;
  }


  img.triangle {
    width: 102%;
    position: absolute;
    bottom: -2px;
    left: -1%;
    line-height: 0;
    padding: 0;
    margin: 0;

    &.dark {
      bottom: 2%;
    }
  }

  .building {
    position: absolute;
    right: 0;
    z-index: 3;
    bottom: 5%;
    height: 50%;


    img {
      position: relative;
      height: 100%;
      width: auto;
    }
  }


  .content {
    position: relative;
    padding-top: 10vw;
    padding-left: 10%;
    font-size: 1em;
    z-index: 4;

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }

    .items {
      padding-top: 10%;
      padding-bottom: 30%;

      .item {
        display: flex;
        align-items: center;
        padding-bottom: 1em;


        .dot {
          height: 50px;
          width: 50px;
          background-color: #ffffff;
          border-radius: 50%;
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
        }

        .caption {
          color: #ffffff;
          font-family: 'Roboto';
          font-weight: 300;
          padding-left: 1em;
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}