@import "responsive";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

nav {
  height: 80px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 45px 2px rgba(0, 0, 0, 0.35);
  position: relative;
  z-index: 2;

}

header {
  position: relative;
  min-height: 500px;
  background-image: linear-gradient(to bottom, #0cadf4, #0575e5);
  z-index: 1;
  overflow: hidden;

  font-size: 16px;

  @include sm {
    font-size: 20px;
  }

  @include md {
    font-size: 24px;
  }

  @include lg {
    font-size: 26px;
  }

  @include xl {
    font-size: 30px;
  }


  h1 {
    text-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    width: 80%;
    font-size: 3em;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding: 0;
    margin: 0;
  }

  .shapes {
    overflow: hidden;

    img.triangle {
      width: 102%;
      position: absolute;
      bottom: -2px;
      left: -1%;
      line-height: 0;
      padding: 0;
      margin: 0;

      &.dark {
        bottom: 2%;
      }
    }
  }

  .building {
    position: absolute;
    right: 0;
    z-index: 3;
    bottom: 5%;
    height: 40%;

    @include md {
      height: 60%;
    }

    @include lg {
      height: 60%;
      right: -10%;
    }

    @include xl {
      height: 60%;
      right: -5%;
    }


    img {
      position: relative;
      height: 100%;
      width: auto;
    }
  }


  .content {
    position: relative;
    padding-top: 10vw;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1em;
    z-index: 4;

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }

    .items {
      padding-top: 10%;
      padding-bottom: 30%;


      width: 100%;
      display: flex;
      flex-wrap: wrap;

      li {
        width: 100%;

        @include lg {
          width: 50%;
        }
      }

      .item {
        display: flex;
        align-items: center;
        padding-bottom: 1em;


        .dot {
          height: 32px;
          width: 32px;
          background-color: #ffffff;
          border-radius: 50%;
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);


          @include md {
            height: 36px;
            width: 36px;
          }

          @include lg {
            height: 42px;
            width: 42px;
          }

          @include xl {
            height: 50px;
            width: 50px;
          }



        }

        .caption {
          color: #ffffff;
          font-family: 'Roboto';
          font-weight: 300;
          padding-left: 1em;
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

.icon {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;

  &.verkauf {
    background-image: url("./icons/icon_verkauf.svg");
  }

  &.prozess {
    background-image: url("./icons/icon_process.svg");
  }

  &.controlling {
    background-image: url("./icons/icon_vertrieb.svg");
  }

  &.vorOrt {
    background-image: url("./icons/icon_vor_ort.svg");
  }

  &.support {
    background-image: url("./icons/icon_247.svg");
  }

  &.erfahrung {
    background-image: url("./icons/icon_erfahrung.svg");
  }
}